body {
    background-image: linear-gradient(92deg, rgba(194, 36, 36, .5), white, rgba(34, 34, 209,.5));
    font-family: IM Fell English, sans-serif;
}

h1 {
    margin-left: 2vw;
}

.search {
    margin-left: 2vw;
}
#search > button {
    border-radius: 8px;
    width: auto;
    height: 40px;
    font-size: 1.5rem;
}
#sortBy {
    border-radius: 8px;
    width: auto;
    height: 40px;
    font-size: 1.5rem;
    margin-top:.25rem;
    margin-bottom: 1rem;
}
[data-selected="yes"] {
    background-color: rgb(201, 199, 199);
}
[data-selected="no"] {
    background-color: #efefef;
}
#search > button:hover {
    background-color: rgb(201, 199, 199);
}

/*congresspeople display*/
#people {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
    padding: 0;
}
/*#people {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeats(auto-fill, 1fr);
    grid-row-gap: 2vw;
    grid-column-gap: 2vw;
}*/
.rep {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1vh 2vw;
    width: 150px;
    height: 250px;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
}
@media screen and (min-width: 800px) {
    .rep:hover {
        width: 175px;
    }
}
@media screen and (max-width: 800px) {
    .rep {
        width: 25%;
        height: 100%;
    }
}
.stats {
    flex-direction: column;
}
.stats img {
    width: 20rem;
    height: auto;
}
.stats li, .stats p {
    font-size: 1.5rem;
}
@media screen and (max-width: 400px) {
    .stats img {
        width: 75%;
    }
}

.rep img {
    width: 100%;
    height: auto;
}